button {
  font-family: 'Open Sans', sans-serif;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 32px;
  padding: 0 20px; 
  cursor: pointer;
}

button:hover {
  background: #0860a7;
}

.app-control {
  padding-bottom: 30px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 4px solid rgba(9, 96, 167, 0.2);
  border-top-color: #0860a7;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  margin: auto;
}
