.content-list {
  margin: 0;
  padding: 20px;
  text-align: left;
}

.content-list li {
  display: inline-block;
  width: calc(100% / 4 - 30px);
  padding: 0 15px;
  margin-bottom: 20px;
}

.content-list li .img-wrapper {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  background: white;
  padding: 10px;
}

.content-list li .picture {
  overflow: hidden;
  text-align: center;
  margin: 0;
  position: relative;
  cursor: zoom-in;
}

.content-list li .picture.is-zoomed {
  overflow: visible;
  cursor: zoom-out;
}

.content-list li .picture .anim-img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease .35s;
}

.content-list li .picture.is-zoomed .anim-img {
  transform: none;
  z-index: 900;
}

.content-list li .picture .anim-img:after {
  content: "";
  opacity: 0;
  visibility: hidden;
  top: -100vh;
  left: -100vw;
  width: 100%;
  height: 100%;
  padding: 100vh 100vw;
  z-index: -1;
  background: white;
  position: absolute;
  transition: opacity .25s ease;
}

.content-list li .picture.is-zoomed .anim-img:after {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease;
}

.content-list li .picture .anim-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-list li .picture .anim-img img.media-fixed,
.content-list li .picture.is-zoomed .anim-img img.media-zoom {
  visibility: visible;
  opacity: 1;
}
.content-list li .picture.is-zoomed .anim-img img.media-fixed,
.content-list li .picture .anim-img img.media-zoom {
  visibility: hidden;
  opacity: 0;
}

.content-list li .author {
  padding-top: 10px;
}

.content-list li .author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: sub;
  background: #c0c0c0;
}

.content-list li .author h3 {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  padding-left: 10px;
  color: #3a8bbb;
}